:root {
  --color-root-bg: #242424;
  --color-primary: #e0a43a;

  --color-light-bg: #303030;

  --color-heading: #dfdfdf;
  --color-divider: #8b8b8b;
  --color-divider-secondary: #555;
  --color-text: #fafafa;
  --color-text-muted: #888;
  --color-text-danger: #ff4d4d;
  --color-text-warning: #ffcc00;
  --color-text-success: #0dbe0d;
  --color-link: var(--color-primary);
  --color-link-hover: #be8b32;
  --color-bglink: var(--color-text);
  --color-bglink-hover: #ccc;
  --color-bglink-hover-bg: #79581e;
  --color-bglink-selected-bg: #79581e;

  --color-button-bg: #1a1a1a;
  --color-button-secondary-bg: #1e1e1e;
  --color-button: var(--color-text);
  --color-button-disabled: #888;
  --color-button-hover-border: #79581e;

  --color-input-bg: #1a1a1a;
  --color-input-border: #00000066;
  --color-input-focus-outline: rgb(116, 116, 116);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-root-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}


/** 
 * EVM browser specific workaround: 
 * As a workaround to another issue, in dark mode electron, EVM browser put pre color as black.
 */
@media (prefers-color-scheme: dark) {pre {color: rgba(255, 255, 255, 0.87)}}

a {
  color: var(--color-link);
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: var(--color-link-hover);
}

a.white {
  color: var(--color-bglink);
}
a.white:hover {
  color: var(--color-bglink-hover);
}

a.bg {
  background-color: var(--color-bglink-bg);
  color: var(--color-bglink);
}
a.bg:hover {
  background-color: var(--color-bglink-hover-bg);
  color: var(--color-bglink-hover);
}

body {
  margin: 0;
}

input:not([type="file"]), textarea, select {
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid var(--color-input-border);
  background-color: var(--color-input-bg);
  color: var(--color-text);
  transition: border-color 0.25s;
}

input:not([type="file"]):focus-visible, textarea:focus-visible, select:focus-visible {
  outline: 1px solid var(--color-input-focus-outline);
}

input:disabled {
  opacity: 0.7;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--color-button-bg);
  color: var(--color-button);
  transition: border-color 0.25s;
}
button[disabled] {
  cursor: default;
  color: var(--color-button-disabled);
}
button:not([disabled]) {
  cursor: pointer;
}
button:not([disabled]):hover {
  border-color: var(--color-button-hover-border);
}
button.secondary {
  background-color: var(--color-button-secondary-bg);
}
button.sm {
  font-size: 0.8em;
  padding: 0.3em 0.75em;
}


.text-danger {
  color: var(--color-text-danger);
}

.text-warning {
  color: var(--color-text-warning);

}

.text-success {
  color: var(--color-text-success);
}

.text-muted {
  color: var(--color-text-muted);
}

.text-90 {
  font-size: 0.9em;
}

.text-80 {
  font-size: 0.8em;
}

.anim-pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

.badge {
  display: inline-block;
  padding: 0.10em 0.5em;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: var(--color-text);
  font-size: 0.8em;
}


.operations {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  align-items: flex-start;
}
@media (max-width: 700px) {
  .operations {
    flex-direction: column;
  }
}

.operations .button-area {
  text-align: center;
  position: relative;
  background-color: var(--color-input-bg);
  border: 1px solid #555;
  padding: 0.5em 1em;
  cursor: pointer;
}

.operations .button-area .button-text {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}

.operations .form-area {
  border-left: 1px solid #555;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  background-color: var(--color-root-bg);
  font-size: 0.9em;
  padding: 0.75em 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}


.mutation-error {
  padding: 0em 1em 0.5em 0em;
  color: var(--color-text-danger);
  line-height: 1em;
}

.mutation-error span {
  font-size: 0.9em;
}

.mutation-error a {
  color: var(--color-text-danger);
  text-decoration: underline;
}


.table-header {
  display: grid;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  border-bottom: 1px solid var(--color-divider-secondary);
  background-color: var(--color-root-bg);
  font-size: 0.9em;
  gap: 1rem;
}

.table-header > div {
  word-break: break-all;
}

.table-row {
  display: grid;
  padding: 0.5rem 0.75rem;
  gap: 1rem;
}

.table-row > div {
  word-break: break-all;
}


/** Switch component */
.switch-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
} 

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-label {
  margin-left: 0.5em;
}