:root {
  --color-root-bg: #fff;

  --color-popup-bg: var(--color-root-bg);
  --color-panel-bg: #ccc;

  --color-heading: #333;
  --color-text: #333;
  --color-text-muted: #666;
  --color-link: #337ab7;
  --color-link-hover: #2b6aa1;

  --color-button-bg: #aaa;
  --color-button-secondary-bg: #ccc;
  --color-button: var(--color-text);
  --color-button-disabled: #888;
  --color-button-hover-border: #888;

  --color-input-bg: #fff;
  --color-button-hover-border: #888;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-root-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-root-bg: #242424;

    --color-panel-bg: #1a1a1a;

    --color-heading: #dfdfdf;
    --color-text: #fafafa;
    --color-text-muted: #888;
    --color-link: #646cff;
    --color-link-hover: #535bf2;

    --color-button-bg: #1a1a1a;
    --color-button-secondary-bg: #1e1e1e;
    --color-button-hover-border: #646cff;

    --color-input-bg: #1a1a1a;
    --color-button-hover-border: #646cff;
  }
}


a {
  font-weight: 500;
  color: var(--color-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-link-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#app-wrapper {
  padding: 2rem;
}

@media (max-width: 768px) {
  #app-wrapper {
    padding-top: 4rem;
  }
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo.dblog:hover {
  filter: drop-shadow(0 0 2em #61c23eaa);
}
.logo.bblog:hover {
  filter: drop-shadow(0 0 2em #003ec2);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 0.2em;
  margin-bottom: 0em;
}

.read-the-docs {
  color: #888;
  margin-bottom: 3em;
}

#blogs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2em;
  margin: 2em 0;
  padding: 2em;
  border-radius: 8px;
  background-color: var(--color-panel-bg);
  box-shadow: 0 0 1em #00000033;
  transition: transform 0.25s;
}
@media (max-width: 768px) {
  #blogs {
    grid-template-columns: 1fr;
  }
}

.blog {
  padding: 1.5em;
  border-radius: 8px;
  background-color: #eee;
  box-shadow: 0 0 1em #00000033;
  transition: transform 0.25s;
}
@media (prefers-color-scheme: dark) {
  .blog {
    background-color: var(--color-root-bg);
  }
}

.blog .title {
  margin-top: 0em;
  margin-bottom: 0.5em;
}
.blog .title a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.blog .description {
  color: var(--color-text-muted);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-button-bg);
  color: var(--color-button);
  transition: border-color 0.25s;
}
button[disabled] {
  cursor: default;
  color: var(--color-button-disabled);
}
button:not([disabled]) {
  cursor: pointer;
}
button:not([disabled]):hover {
  border-color: var(--color-button-hover-border);
}
button:not([disabled]):focus,
button:not([disabled]):focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button.secondary {
  background-color: var(--color-button-secondary-bg);
}

button#create-your-own {
  position: absolute;
  top: 1em;
  right: 1em;
}

.required {
  color: #ff6464;
}

#create-popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  place-items: center;
  background-color: #000000aa;
  z-index: 100;
}

#create-popup {
  max-width: 400px;
  margin: 0 auto;
  padding: 2em;
  border-radius: 8px;
  background-color: var(--color-popup-bg);
  box-shadow: 0 0 1em #00000033;
}

#create-popup h2 {
  margin-top: 0em;
  margin-bottom: 1em;
}

#create-popup .form-row {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}
@media (max-width: 768px) {
  #create-popup .form-row {
    flex-direction: column;
    gap: 0.2em;
  }
}

#create-popup label {
  flex: 0 0 100px;
  text-align: right;
  margin-top: 0.25em;
}
@media (max-width: 768px) {
  #create-popup label {
    flex: 0 0 100%;
    text-align: left;
  }
}

#create-popup input, #create-popup textarea {
  flex: 1;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid #00000033;
  background-color: var(--color-input-bg);
  color: var(--color-text);
  transition: border-color 0.25s;
}

#create-popup input:focus, #create-popup textarea:focus {
  outline: none;
  border-color: var(--color-button-hover-border);
}

#create-popup #subdomain-input {
  display: flex;
}

#create-popup #subdomain {
  border-radius: 8px 0 0 8px;
}

#create-popup #subdomain-input-help, #create-popup #subdomain-check {
  text-align: left;
  font-size: 80%;
  margin-top: 0.4em;
}

#create-popup .domain-suffix {
  padding: 0.3em;
  border-radius: 0 8px 8px 0;
  border: 1px solid #00000033;
  background-color: var(--color-input-bg);
}

#create-popup #error-message {
  display: none;
  color: #ff6464;
  margin-bottom: 1em;
  font-size: 90%;
}

#create-popup #step-2 {
  display: none;
}

#create-popup #created-blog-address {
  font-size: 140%;
  margin-bottom: 1em;
  word-break: break-word;
}

#create-popup #created-blog-infos {
  font-size: 90%;
  color: var(--color-text-muted);
  margin-bottom: 1.4em;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
